{% extends "layout.html" %}

{% block body %}
    {% from "_formhelpers.html" import render_pagination2 %}

    {% for user in users_pg.items %}
        {% for field in user.fields if field.widget.input_type != 'hidden' %}
            {{ render_field(field) }}
        {% endfor %}
    {% endfor %}

    {% if users_pg.has_prev %}
        <a href="{{ url_for('.show_users', page_num=users_pg.prev_num, per_page=pp) }}">&lt;&lt; Next</a>
    {% else %}&lt;&lt; Next
    {% endif %} ::
    {% if users_pg.has_next %}
        <a href="{{ url_for('.show_users', page_num=users_pg.next_num, per_page=pp) }}">Prev &gt;&gt;</a>
    {% else %}Prev &gt;&gt;
    {% endif %}
{% endblock %}