{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}


{% block body %}

{% if session['logged_in'] %}
    <p>You're logged in already!</p>
    <form method="POST" action="/logout">
        <input class="btn btn-default" type="submit" value="Logout">
    </form>

{% else %}
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="/signup">
    <dl>
        {{ form.csrf_token }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% if field.errors %}
                <div class="has-error">
                    {{ render_field(field) }}
                </div>
            {% else %}
                {{ render_field(field) }}
            {% endif %}
        {% endfor %}
    </dl>
        <input class="btn btn-default" type="submit" value="Signup">
    </form>
{% endif %}

{% endblock %}