{% extends "layout.html" %}

{% block body %}
{% if session['logged_in'] %}
    <p>You're logged in already!</p>
    <form method="POST" action="/logout">
        <input class="btn btn-default" type="submit" value="Logout">
    </form>
{% else %}
    <form method="POST" action="/login">
        {{ form.csrf_token }}
        {{ form.login.label }}: {{ form.login(class="css_class") }}
        {{ form.password.label }}: {{ form.password() }}
        <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
{% endif %}
{% endblock %}